{{ define "main" }}
{{ partial "breadcrumb.html" . }}
{{ partial "toc.html" . }}
<div class="content" id="content">
    <p>Detalle del evento:</p>
    <h2>{{ .Title }}</h2>
    {{ if ne .Params.Inicio nil }}
        <p>Inicio:{{ dateFormat "2006-01-02" .Params.Inicio }}</p>
    {{ end }}

    {{ if ne .Params.Fin nil }}
        <p>Fin:{{ dateFormat "2006-01-02" .Params.Fin }}</p>
    {{ end }}
    <p>Etapa: {{ .Params.Estilo }}</p>
    {{ .Content }}
</div>
{{ if not ( in .Page.Title "calendario") }}
	{{ partial "footer.html" . }}
{{ end }}
{{ end }}