.searchbox input {
  display: inline-block;
  /* color: #fff; */
  width: 100%;
  height: 30px;
  background: transparent;
  border: 0;
  padding: 0 25px 0 30px;
  margin: 0;
  font-weight: 300; }

body {
  max-width: unset;
}

/* Fix link box
para el enlace arriba*/
.arriba-link {
  position: fixed;
  right: 0;
  bottom: 0;
	background: url('arriba.png') no-repeat;
	display: inline-block;
	width: 50px;
	height: 50px;
  opacity: 0.4;
	background-size: 50px;
	margin: 0 10px;
}
.arriba-link:hover {
	background: url('arriba.png') no-repeat;
  opacity: 1;
  border-radius: 0;
}

.arriba-link::after {
  content: none;
}