{{ partial "header.html" . }}
{{ partial "breadcrumb.html" . }}
<br>
     {{.Content}}
     <ul>
     {{ range .Pages }}
      <li>
          <!-- <div style="border: 1px solid black; margin:10px; padding:10px; "> -->
               <!-- <div> -->
                    <a href="{{.URL}}">{{.Title}}</a>
               <!-- </div> -->
               <div style="color:grey; font-size:16px;">{{ if .Params.date }}{{ dateFormat "Monday, Jan 2, 2006" .Date }}{{end}}</div>
               <div>{{ if .Params.tags }}<strong>Tags:</strong> {{range .Params.tags}}<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{end}}{{end}}</div>
               <!-- <p style="font-size:18px;">{{.Summary}}</p> -->
          <!-- </div> -->
        </li>
     {{ end }}
    </ul>
{{ partial "footer.html" . }}
</body>
</html>
