<div class="content" id="content">
  <h1>{{ .Site.Title  }}</h1>
  <h2>{{ title .Data.Term  }} posts</h2>
      {{ range first 100000 .Pages }}
        {{ if eq .Type "post"}}
            <p>
            <aside><i data-feather="calendar"></i>{{ .Date.Format "January 2, 2006"}} 
                {{ if .Params.tags }}
                <i data-feather="tag"></i>
                 <em>{{ range $i, $e := .Params.tags }}{{ if $i }}, {{ end }}<a href="/tags/{{$e}}/">{{ $e }}</a>{{ end }}
                    </em>
                {{ end }}
            </aside>
            <a href="{{ .Permalink }}" style="color:black;"><i data-feather="edit"></i>{{ .Title }}</a>{{ if .Draft }} <span style="color:#FF4136;">(unpublished)</span>
            {{ end }}
          </p>
        {{ end }}
      {{ end }}
  </div>
  