
{{ define "main"}}
<main id="main">
  <div class="content" id="content">
    <h1 id="title"><a href="{{ "/" | relURL }}">A casa</a></h1>
    <h1 class="docs-header">Ops!. Algo no fue tan bien como esperábamos Snoopy!</h1>
    <div class="row example">
    <iframe src="//giphy.com/embed/nIXlFwOaHp6YU" width="480" height="320" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="http://giphy.com/gifs/peanuts-halloween-charlie-brown-great-pumpkin-nIXlFwOaHp6YU"></a></p>
    </div>
  </div>
</main>
{{ end }}